body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;   
    position: relative;
    min-height: 100vh;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    border: 1px solid white;
    background-color: rgba(51,47,46, 0.4);
    border-radius: 50px;
    width: 80%;
    margin: 50px auto;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    color: #fff;
    text-align: center;
}

#wrapper {
    padding-bottom: 3.5rem;
}

