.monster-pane {
    display: flex;
    justify-content: center;
    vertical-align: middle;
    height: 200px;
}

.monster-name {
    width: 50%;
    font-size:large;
}

.general-info {
    display: grid;
    text-align: center;
    font-size: 20px;
    margin-right: 100px; 
    margin-left: 100px;
}

.foto {
    margin: 10% auto;
    width: 900px;
}