<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {css: 'css/main.css'}) %>
</head>
<body>
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <h2> Adicionar novo monstro </h2>  
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>
