<%- contentFor('body') %>
<div>
    <header>
        <h1>Monster Hunter Wiki</h1>
    </header>
    <nav>
        <ul>
        <li><a href="#">Página Principal</a></li>
        <li><a href="#">Artigos</a></li>
        <li><a href="#">Contribuir</a></li>
        <li><a href="#">Sobre</a></li>
        </ul>
    </nav>
    <main>
        <h2> Monstar Huntar </h2>
        <p> Bem vindos todos os caçadores</p>
        <p> Está Wiki irá guiá-lo através do jogo com todas as informações sobre monstros, armas, armaduras!</p>
        <img src="https://monsterhunterworld.wiki.fextralife.com/file/Monster-Hunter-World/mhw-iceborne-wiki-master-rank-monster-hunter-world-guide-bg-min.jpg" alt="Descrição da imagem"/>
    </main>
    <footer>
        <p>&copy; 2023 Wiki Site. Todos os direitos reservados.</p>
    </footer>
</div>