<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', {css: 'css/main.css'}) %>
</head>
<body>
    <div id="wrapper">
        <header>
            <%- include('./partials/header') %>
        </header>
        <main>
            <h2> Monstar Huntar </h2>
            <p> Bem vindos todos os caçadores!</p>
            <p> Está Wiki irá guiá-lo através do jogo com todas as informações sobre monstros, armas, armaduras!</p>
            <img src="img/cats.jpg" width="500px"> 
        </main>
    </div>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>
